<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" type="image/png" href="shit-icon-15.png">
    <title>Jeff = Poop</title>
</head>
<body>
    <h1>I smell like poop</h1>
    <h2>Go Bengals!</h2>
    <p>Please call for all your fencing needs</p>
    <img src="jeff.jpeg" id="jeff-img">
</body>
</html>